<div class="row align-items-center">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/src/assets/img/Places/Jujuy.jpg" class="card-img-top" alt="Jujuy">
            <div class="card-body">
                <h5 class="card-title">Jujuy</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/src/assets/img/Places/Cancun.jpg" class="card-img-top" alt="Cancun">
            <div class="card-body">
                <h5 class="card-title">Cancún</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="/src/assets/img/Places/Bariloche.png" class="card-img-top" alt="Bariloche">
            <div class="card-body">
                <h5 class="card-title">Bariloche</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
